<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="ReportGeneratorSettings" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    
    <ReportGeneratorSettings>
        <add key="Reviewers.dotx" value="SingleTable" />
        <add key="TopicsOfFqwReport.dotx" value="SingleTable" />
        <add key="Желтые Практики.dotx" value="SingleTable" />
        <add key="ПрактикаНИР.dotx" value="SingleTable" />
    </ReportGeneratorSettings>
</configuration>