# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Rider cache/options directory
.idea/

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# Data folder in test
!**/test
!**/test/bin
!**/test/bin/[Dd]ebug
!**/test/bin/[Dd]ebug/data
!**/test/bin/[Dd]ebug/data/Examples

**/test/obj
**test/bin/[Dd]ebug/*.*

