--
-- PostgreSQL database dump
--

-- Dumped from database version 10.21
-- Dumped by pg_dump version 10.21

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.department (
    id uuid NOT NULL,
    headmaster_id uuid NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.department OWNER TO postgres;

--
-- Name: group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."group" (
    id uuid NOT NULL,
    department_id uuid NOT NULL,
    short_name text NOT NULL,
    course integer NOT NULL,
    education_type text NOT NULL,
    educational_program text NOT NULL,
    form_of_education text NOT NULL,
    speciality_code text NOT NULL,
    speciality_name text NOT NULL,
    year_of_issue integer NOT NULL
);


ALTER TABLE public."group" OWNER TO postgres;

--
-- Name: group_student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.group_student (
    group_id uuid NOT NULL,
    student_id uuid NOT NULL
);


ALTER TABLE public.group_student OWNER TO postgres;

--
-- Name: person; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.person (
    id uuid NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    patronymic text
);


ALTER TABLE public.person OWNER TO postgres;

--
-- Name: student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student (
    id uuid NOT NULL,
    person_id uuid NOT NULL,
    teacher_id uuid NOT NULL,
    topic_of_final_qualification_work text,
    basis_of_education text
);


ALTER TABLE public.student OWNER TO postgres;

--
-- Name: teacher; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teacher (
    id uuid NOT NULL,
    person_id uuid NOT NULL,
    science_degree text,
    job_vacancy text
);


ALTER TABLE public.teacher OWNER TO postgres;

--
-- Data for Name: department; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.department (id, headmaster_id, name) FROM stdin;
e61b79da-b76a-4dd3-85ff-10775be99b13	595653c7-e852-4955-a9f7-45cda983e1a9	╨Ь╨░╤В╨╡╨╝╨░╤В╨╕╤З╨╡╤Б╨║╨╛╨│╨╛ ╨░╨╜╨░╨╗╨╕╨╖╨░ ╨╕ ╤В╨╡╨╛╤А╨╕╨╕ ╤Д╤Г╨╜╨║╤Ж╨╕╨╕
\.


--
-- Data for Name: group; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: group_student; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: person; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: student; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: teacher; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: department department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department
    ADD CONSTRAINT department_pkey PRIMARY KEY (id);


--
-- Name: group group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."group"
    ADD CONSTRAINT group_pkey PRIMARY KEY (id);


--
-- Name: person person_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.person
    ADD CONSTRAINT person_pkey PRIMARY KEY (id);


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (id);


--
-- Name: teacher teacher_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher
    ADD CONSTRAINT teacher_pkey PRIMARY KEY (id);


--
-- Name: department department_headmaster_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department
    ADD CONSTRAINT department_headmaster_id_fkey FOREIGN KEY (headmaster_id) REFERENCES public.teacher(id) NOT VALID;


--
-- Name: group group_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."group"
    ADD CONSTRAINT group_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.department(id) NOT VALID;


--
-- Name: group_student group_student_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.group_student
    ADD CONSTRAINT group_student_group_id_fkey FOREIGN KEY (group_id) REFERENCES public."group"(id) NOT VALID;


--
-- Name: group_student group_student_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.group_student
    ADD CONSTRAINT group_student_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(id) NOT VALID;


--
-- Name: student student_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.person(id) NOT VALID;


--
-- Name: student student_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teacher(id) NOT VALID;


--
-- Name: teacher teacher_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher
    ADD CONSTRAINT teacher_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.person(id) NOT VALID;


--
-- PostgreSQL database dump complete
--

